.header-info {
    background-color: #223359;
    color: white;
    height: 30px;
    .col {
        text-align: center;
    }
}

.header-principal {
    background-color: #002868;
    height: 130px;
    .logo {
        padding-top: 10px;
    }
    .fundo {
        margin: auto;
        padding-right: 40px;
        text-align: right;
    }
    .phone {
        color: #CBCDCA;
        font-size: 24px;
        margin: auto;
        text-align: center;
        .help {
            float: left;
            padding-right: 20px;
            .help-1 {
                font-size: 18px;
            }
        }
    }
}

.header-mobile {
    background-color: #002868;
    height: 200px;
    padding-top: 30px;
    text-align: center;
}

.helpMobile {
    color: #CBCDCA;
    font-size: 12px;
    margin-top: 22px;
}

.header-paleta {
    background: linear-gradient(to right, #be0011,#be0011 12%,#fc7e24 12%,#fc7e24 25%,#fcca24 25%,#fcca24 38%,#a4cf38 38%,#a4cf38 50%,#0fa150 50%,#0fa150 62%,#0397d6 62%,#0397d6 75%,#16539e 75%,#16539e 88%,#ad237a 88%,#ad237a 100%);
    height: 3px;
}

.navbar {
    background-color: #CBCDCA !important;
}

.nav-link {
    color: #002868 !important;
    margin-right: 40px;
    font-size: 18px;
}

.navbar-collapse {
    background-color: #CBCDCA;
}

.navbarMobile {
    background-color: #002868 !important;
    position: fixed;
    width: 100%;
}

.nav-linkMobile {
    color: #CBCDCA !important;
    margin-right: 40px;
    font-size: 18px;
}

.navbar-toggler {
    border: 1px solid #CBCDCA;
    color: #CBCDCA;
    margin-top: 15px;
}

.navbar-collapseMobile {
    background-color: #002868;
    .nav-item {
        margin-bottom: 10px;
    }
}

.header-paletaMobile {
    background: linear-gradient(to right, #be0011,#be0011 12%,#fc7e24 12%,#fc7e24 25%,#fcca24 25%,#fcca24 38%,#a4cf38 38%,#a4cf38 50%,#0fa150 50%,#0fa150 62%,#0397d6 62%,#0397d6 75%,#16539e 75%,#16539e 88%,#ad237a 88%,#ad237a 100%);
    height: 3px;
    margin-top: 5px;
    margin-bottom: -10px;
}
