.footer-info {
    background-color: silver;
    text-align: center;
}

.direitos {
    font-size: 12px;
}

@media (max-width: 992px) {
    .container-fluid {
        bottom: 0;
        position: fixed;
    }
}