<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" style="background-image: url({{images[0]}}); background-position: center; width: 100%; height: 312px;">
        <!-- <img [src]="images[0]"> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" style="background-image: url({{images[1]}}); background-position: center; width: 100%; height: 312px;">
        <!-- <img [src]="images[1]"> -->
      </div>
    </ng-template>
</ngb-carousel>
<br>
<carousel
    [margin]="80"
    [autoplay]=false
    [autoplayInterval]="1000"
    [cellWidth]="143"
    [height]="61"
    [images]="imagesTintas">
</carousel>
<br>
<app-footer class="footer"></app-footer>