.title {
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.fotos {
    margin: 15px;
}

@media (max-width: 992px) {
    .container-fluid {
        padding-top: 80px;
    }
}