<div class="container-fluid">
    <div class="row">
        <div class="col-12 title">
            Confira nossos eventos
        </div>

        <div class="col-md-6 col-12 video">
            Revitalização do estadio XV de Piracicaba <br>
            <video width="426" height="240" controls>
                <source src="./../../assets/images/eventos/xv.MP4" type="video/mp4">
            </video>
        </div>
        <div class="col-md-6 col-12 video">
            Revitalização da Concha Acustica - Taquaral <br>
            <video width="426" height="240" controls>
                <source src="./../../assets/images/eventos/concha.MP4" type="video/mp4">
            </video>
        </div>
    </div>

    <div class="row mt-4" *ngFor="let evento of eventos;">
        <div class="col-12">
            <button type="button" class="btn btn-outline-primary" (click)="evento.isCollapsed = !evento.isCollapsed"
                [attr.aria-expanded]="!evento.isCollapsed" aria-controls="collapseExample">
                <i class="fa" aria-hidden="true"></i>
                {{evento.nome}}
            </button>
            <div [ngbCollapse]="evento.isCollapsed"><br>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="fotos" *ngFor="let foto of evento.fotos;">
                                <a (click)="open(foto, evento.nome)">
                                    <img src="{{foto}}" width="150" height="150">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #imagemEvento>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{nomeEvento}}</h4>
        <button type="button" class="close closeBtn" aria-label="Close" (click)="closeImage()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img width="100%" src="{{image}}">
      </div>
      <div class="modal-footer">
      </div>
</ng-template>
<br>
<br>
<br>
<br>